[Unit]
Description=GPU_undervolt_script

[Service]
ExecStart=/PATH/TO/linux-nvidia-new-setup/gpu-undervolt/gpu_undervolt.sh

[Install]
WantedBy=multi-user.target